#charts{
	font-size: 1.4em;
}

#basic-chart{
	margin:10px 5px 10px 15px;
	font-size: 1.4em;
}
#rasi-chart{
	float: left;
	margin:0px 5px 5px 0px;
}
#nava-chart{

}
.chart-table{
	border-collapse: collapse;
  /*font-size: 0.8em;*/
}
.chart-table td{
	width:150px;
	height: 150px;
	border: 1px solid #333;
}
.chart-table td.blank-td{
	border-style:none;
}
.chart-td{
	position: relative; 
}
.rasi-td{
	background-color: rgba(256,256,250,0.5);
}
.nava-td{
	background-color: rgba(240,256,256,0.5);
}
.asc-td{
	background-color: rgba(250,240,230,0.7);
}
.rasi-name{
	position: absolute;
	top: 2px;
	left: 2px;
}
.house-num{
	position: absolute;
	top:1px;
	left: 115px;
	width:10px;
	text-align: right;
}
.graha-span{
	margin-left: 5px;
	font-weight: bold;
}
.graha-Asc{
	color: #ff1493;
}
.graha-Su{
	color: #f00;
}
.graha-Mo{
	color:#87cefa;
}
.graha-Me{
	color:#2e8b57;
}
.graha-Ve{
	color:#ff69b4;
}
.graha-Ma{
	color: #ff4500;
}
.graha-Ju{
	color:#ffd700;
}
.graha-Sa{
	color: #0000cd;
}
.graha-Ra{
	color: #9400d3;
}
.graha-Ke{
	color:#a0522d;
}
/*vim*/
.maha-title{
	font-size: 1.1em;
	font-weight: bold;
}


#birth-form{
	margin-left: 20px;
	padding-left: 20px;
}